<div class="mt-5">
  <h1 class="text-center pt-3">Tambah category</h1>
  
  <%= render "form", category: @category %>
  
  <br>
  
  <div>
    <%= link_to "Back to categories", categories_path %>
  </div>
</div>